@import url('https://cdn.jsdelivr.net/gh/nano-grid/nano-grid@pombo_poderoso/dist/nanogrid_styles.css');

@import url('./iconos.css');
@import url('../fonts/Montserrat/Montserrat.css');
@import url('../fonts/Icomoon/Icomoon.css');

html,
body {
  --accent-color: #88e2b4;
  --accent-color-2: #d5e288;
  --color-foreground: #eee;
  --space-between-block-items: 1rem;
  --space-between-inline-items: 0.5rem;
  --low-contrast-color: #a1a1a1;
  --border-color: #eee;

  padding: 0;
  margin: 0;
  color: var(--color-foreground);
  background-color: #202028;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

.sr-only {
  display: none;
}

math {
  display: block;
  padding: 1rem;
  background-color: #463d64;
}

mr-app {
  display: block;
  height: 100svh;

  > nn-fila {
    height: 100%;
  }

  .navigation {
    position: relative;

    nav {
      background-color: #232327;
      height: 100%;
      display: flex;
      padding-block: 1rem;
      flex-direction: column;
      justify-content: space-between;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          width: 35px;

          hr {
            margin-block: 0.5rem;
            border-color: #19191d;
          }
        }
      }
    }
  }

  .workarea {
    max-height: 100%;
  }
}

.btn-icon {
  display: inline-flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: hsla(0, 0%, 100%, 0.4);
  text-decoration: none;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: 0;
  position: relative;

  nn-icono,
  & > .tooltip {
    pointer-events: none;
  }

  .tooltip {
    position: absolute;
    background-color: #222;
    color: #fff;
    font-size: 12px;
    left: 100%;
    white-space: nowrap;
    padding: 8px;
    display: flex;
    visibility: hidden;
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;

    .tags {
      display: flex;
      gap: 0.5rem;

      &:empty {
        display: none;
      }
    }
  }

  &:hover {
    > .tooltip {
      visibility: visible;
    }

    &:not(div) {
      cursor: pointer;
      background-color: hsla(0, 0%, 100%, 0.1);
      color: #fff;
    }
  }

  &.active {
    color: var(--accent-color);
    box-shadow: -2px 0 0 #36ce80;
  }
}

img {
  max-width: 100%;
}

blockquote {
  background-color: hsl(218 10% 22% / 1);
  margin: 0;
  padding: 1rem;
  border-radius: 10px;
}

.block-separator {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem 0;
  align-items: center;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  list-style: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
}

/* -------------- layers */

.tooltip {
  z-index: 11;
}

.navigation {
  z-index: 10;
}
