:host {
  display: inline-block;
}

a,
button {
  all: unset;
  width: 100%;
  padding: 0.5rem;
  font-size: 9pt;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 1pt;
  text-transform: uppercase;
  transition:
    background-color 200ms ease,
    box-shadow 200ms ease,
    border 200ms ease,
    color 200ms ease;
  border-radius: 0;
  min-height: 35px;
  min-width: 35px;

  --color-70: color-mix(in srgb, black 70%, var(--color));
  --color-10: color-mix(in srgb, black 15%, var(--color));
  --color-20: color-mix(in srgb, black 30%, var(--color));

  color: var(--color-70);
  background-color: var(--color);
  box-shadow: 0px 3px 0 var(--color-10);
}

a:hover,
button:hover {
  background-color: var(--color-10);
  box-shadow: 0px 3px 0 var(--color-20);
  cursor: pointer;
}

a:active,
button:active,
a.active,
button.active {
  background-color: var(--color-10);
  box-shadow: 0px 3px 0 var(--color-20);
}

::slotted(nn-icono) {
  pointer-events: none;
}
