[data-tooltip] {
  position: relative;

  &:hover {
    &::after {
      opacity: 1;
    }
  }
  
  &::after {
    color: var(--foreground-color);
    background-color: var(--background-color);
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    translate: -50% 0;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 10;
    transition: opacity 0.2s ease;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
  }
}
