@import url("./nano.css");
@import url("./iconos.css");
@import url('../fonts/Montserrat/Montserrat.css');
@import url('../fonts/Icomoon/Icomoon.css');
/* @import url('../fonts/Quicksand/Quicksand.css'); */

html,
body {
  --accent-color: #88e2b4;
  --color-foreground: #eee;
  --space-between-block-items: 1rem;
  --space-between-inline-items: 0.5rem;
  --low-contrast-color: #a1a1a1;
  --border-color: #eee;

  padding: 0;
  margin: 0;
  color: var(--color-foreground);
  background-color: #202028;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.sr-only {
  display: none;
}

mr-app {
  display: block;
  height: 100vh;

  >nn-fila {
    height: 100%;
  }

  .navigation {
    position: relative;

    nav {
      background-color: #232327;
      height: 100%;
      display: flex;
      padding-block: 1rem;
      flex-direction: column;
      justify-content: space-between;
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        li {
          width: 35px;
  
          hr {
            margin-block: 0.5rem;
            border-color: #19191d;
          }
        }
      }
    }
  }

  .workarea {
    max-height: 100%;
  }
}

.btn-icon {
  display: inline-flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: hsla(0,0%,100%,.4);
  text-decoration: none;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: 0;
  position: relative;

  nn-icono,
  & > .tooltip {
    pointer-events: none;
  }

  .tooltip {
    position: absolute;
    background-color: #222;
    color: #fff;
    font-size: 12px;
    left: 100%;
    white-space: nowrap;
    padding: 4px 8px;
    display: none;
  }

  &:hover {
    >.tooltip {
      display: block;
    }

    &:not(div) {
      cursor: pointer;
      background-color: hsla(0, 0%, 100%, .1);
      color: #fff;
    }
  }

  &.active {
    color: var(--accent-color);
    box-shadow: -2px 0 0 #36ce80;
  }
}

/* -------------- layers */

nn-ayuda, .tooltip { z-index: 3; }
.navigation { z-index: 2; }