@import url('https://cdn.jsdelivr.net/gh/nano-grid/nano-grid@pombo_poderoso/dist/nanogrid_styles.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: #1a1b1f;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* --------------------------------------- */

h1, h2 {
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(245, 171, 101);
}

h1,
h2,
p,
canvas,
ul {
  margin: 0;
}

math {
  display: block;
  padding: 1rem;
  background-color: #463d64;
}

bounce-range {
  nn-caja {
    --accent-color: #88e2b4;
    --accent-color-2: #d5e288;
    --color-foreground: #eee;
    --space-between-block-items: 1rem;
    --space-between-inline-items: 0.5rem;
    --low-contrast-color: #a1a1a1;
    --border-color: #eee;

    color: var(--color-foreground);
    background-color: #202028;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    overflow: hidden;
    color-scheme: dark;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;

    h2,
    h3,
    p,
    nn-code {
      margin: 0;
    }

    article {
      padding: 1rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      border: 1px solid #454545;
      border-radius: 5px;
    }

    canvas {
      background-color: #111;
    }

    table {
      width: 100%;
      text-align: center;

      td,
      th {
        padding: 1rem;
      }

      th {
        background-color: #38426a;
      }

      td {
        background-color: #27283a;
      }
    }

    dl {
      display: flex;
      gap: 1rem;

      dt {
        font-weight: bold;
      }

      dd {
        margin: 0;
      }
    }
  }
}
