@import url("../../0_global/css/main.css");

mr-cube {
  display: block;
  background-color: #17161a;
  height: 100svh

  canvas {
    max-width: 100%;
  }

  .controls {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    margin: auto;
    position: absolute;
    bottom: 0;
  }
}