@import url("../main.css");

section.portfolio {
  & .container {
    text-align: center;
    padding: 2rem 1rem;
  }
  
  & h1 {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent-color);
  }

  & img {
    max-width: 100%;
  }

  & .gallery {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin-block: 2.5rem;
    gap: 2rem;
    
    & a {
      width: calc(100% / 3 - 1.4rem);
      display: block;
      text-decoration: none;
      color: #222;

      & .title {
        text-transform: uppercase;
        margin: 0;
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
}