dialog {
  padding: 0;
  width: min(600px, calc(100vw - 2rem));
  background-color: var(--bk-color);
  z-index: 5;
  color: var(--color-foreground);
  border: 1px solid #515151;

  .btn-group {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;

    li {
      flex-grow: 1;
      > * {
        width: 100%;
      }
    }
  }

  a,
  .btn {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  dl,
  ul,
  blockquote {
    margin: 0;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  .bird-icon-preview {
    font-size: 10rem;
    text-align: center;
    background-color: #171922;
    padding: 1rem;
    color: #ffcf24;
  }

  em {
    background-color: #1d2033;
    padding: 0.2rem 0.3rem;
    color: #ced33c;
    font-style: normal;
  }

  nn-desplazador {
    max-height: calc(100vh - 205px);
  }

  &::backdrop {
    background-color: hsl(236.47deg 21.03% 1.3% / 49%);
  }
}

header.header {
  padding-top: 80svh;
  background-image: url(../img/pattern_stars.svg);
  background-position: 0 0;
  animation: stars 40s linear infinite;
  overflow: hidden;
  position: relative;

  mr-header {
    height: calc(1190px - 90px);
    min-height: 720px;
    display: block;
  }

  .content {
    position: absolute;
    top: 20svh;
    width: 100%;
    text-align: center;
    padding: 1rem;
    z-index: 5;

    em {
      background-color: rgb(16 16 22);
      border-radius: 5px;
      padding: 2px 5px;
      color: var(--accent-color);
      font-style: normal;
    }

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      margin: 1rem auto 1rem;
      max-width: 600px;
      line-height: 1.5;
    }

    h1,
    h2 {
      margin: 0;
    }
  }

  mr-mountain {
    max-width: 100%;
    display: block;
    overflow: hidden;
    height: 1120px;

    .mountain {
      position: absolute;
      left: -620px;
      bottom: 0;

      .p1 {
        fill: #40654d;
      }

      .p2 {
        fill: #d3d3d3;
      }

      .p3 {
        fill: #d3d3d3;
      }
    }

    g.banner {
      scale: 0.27;
      translate: 254px 107px;
      pointer-events: none;

      text {
        fill: #eee;
        transform-box: fill-box;
        text-shadow: 1px 2px 3px hsl(0deg 0% 0% / 31%);
        font-size: 31px;
        font-weight: bold;
      }
    }

    g.trees {
      scale: 0.265;
      translate: 163px -13px;

      > image {
        transform-origin: 50% 100%;
        transform-box: fill-box;
        transition: rotate 200ms ease;

        &:hover {
          rotate: 5deg;
        }
      }
    }
  }

  mr-palumba {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    inset: auto auto 957px 479px;

    svg {
      width: 200px;
      height: 200px;
      display: block;
    }

    .eyes {
      clip-path: path('M 23 5 L 55 5 L 55 15 L 23 15 Z');
    }

    .eye-left,
    .eye-right,
    .peak {
      transition: transform ease 200ms;
    }

    .peak {
      .base {
        clip-path: path(
          'M 9 4 C 11 2 18 4 14 9 C 5 10 6 12 0 14 C 2 7 4 7 9 4 Z'
        );
      }
    }

    &.mr-left {
      .eye-right {
        transform: translate(71px, 49px);
      }

      .eye-left {
        transform: translate(40px, 49px);
      }
    }

    &.mr-right,
    &:hover {
      .eye-right {
        transform: translate(100px, 49px);
      }

      .eye-left {
        transform: translate(74px, 49px);
      }

      .peak {
        transform: translate(31px, 0px);

        .base {
          transform: translateX(117px) rotateY(180deg);
        }
      }
    }
  }

  .buildings-01,
  .buildings-02 {
    display: flex;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: var(--concrete-color);
    justify-content: space-around;
    align-items: end;

    > span {
      position: relative;
      display: inline-block;
      width: 95px;
      border-radius: 15px;
      background-color: var(--concrete-color);
    }
  }

  .buildings-01 {
    --concrete-color: #4d4d61;
    z-index: 1;
    height: 150px;

    > span {
      &:nth-child(odd) {
        height: 250px;
      }

      &:nth-child(even) {
        height: 200px;
      }
    }
  }

  .buildings-02 {
    --concrete-color: #424257;
    height: 250px;
    z-index: 0;

    > span {
      &:nth-child(odd) {
        height: 300px;
      }

      &:nth-child(even) {
        height: 350px;
      }
    }
  }
}

@keyframes stars {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 500px 500px;
  }
}
