@import url("../../_global/css/main.css");

.workarea {
  h2,
  h4,
  h5,
  h6 {
    margin: 0;
    margin-block-end: var(--space-between-block-items);
  }

  h1,
  h2,
  h3 {
    color: var(--accent-color);
    font-weight: 300;
  }

  ul,
  dl,
  article {
    margin: 0;
    margin-block-end: var(--space-between-block-items);
  }

  p,
  li,
  dt,
  dd {
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-block-end: var(--space-between-inline-items);
    font-size: 0.75rem;
  }

  ul {
    padding-left: var(--space-between-block-items);
  }

  h1 {
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  dt {
    font-style: normal;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 300;
  }

  a {
    color: var(--accent-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  header {
    text-align: center;
    border-bottom: 1px dotted var(--border-color);
    padding: 2rem;
    margin-block-end: 2rem;

    p {
      font-size: 1rem;
      text-transform: uppercase;
      margin: 0;
      font-weight: 300;
    }
  }

  article {
    padding-left: 1rem;
    margin-bottom: 1.25rem;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 1.45rem;
      left: -.05rem;
      height: calc(100% - .5rem);
      border-left: 1px dotted var(--color-foreground);
    }

    time {
      font-weight: 300;
      letter-spacing: 2px;
      position: absolute;
      top: 3px;
      left: -3.5rem;
      display: inline-block;
      width: 40px;
      text-align: right;
      font-size: .75rem;
      text-transform: uppercase;
    }

    nn-icono {
      position: absolute;
      top: .25rem;
      left: -.25rem;
      font-size: .5rem;
    }

    h4 {
      font-size: .75rem;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}