@import url("../../_global/css/main.css");

.workarea {
  --amen: hsl(0deg 55% 40%);
  --es: hsl(30deg 55% 40%);
  --espt: hsl(60deg 55% 40%);
  --pt: hsl(150deg 55% 40%);
  --euen: hsl(190deg 55% 40%);
  --mush: hsl(210deg 55% 40%);
  --de: hsl(230deg 55% 40%);
  --fr: hsl(250deg 55% 40%);
  --me: hsl(270deg 55% 40%);
  --tr: hsl(295deg 55% 40%);
  --ru: hsl(340deg 55% 40%);
  --top: color-msg ease 1s alternate infinite;

  h2 {
    font-size: 3rem;
    text-align: center;
    margin-block: 5rem 3rem;
  }

  table,
  tbody,
  tr {
    width: 100%;
  }

  table {
    border-spacing: 2px .5rem;

    th {
      background: rgb(255 255 255 / 12%);
    }

    tbody {
      tr {
        &:hover {
          opacity: 1;
        }
      }
    }

    tr {
      opacity: 0.8;
      transition: opacity 200ms ease;
      text-align: center;

      td {
        &:first-child {
          font-weight: 700;
          color: #fff;
        }

        color: #eee;

        &.amen,
        .amen {
          background: var(--amen)
        }

        &.es,
        .es {
          background: var(--es)
        }

        &.espt,
        .espt {
          background: var(--espt)
        }

        &.pt,
        .pt {
          background: var(--pt)
        }

        &.euen,
        .euen {
          background: var(--euen)
        }

        &.mush,
        .mush {
          background: var(--mush)
        }

        &.de,
        .de {
          background: var(--de)
        }

        &.fr,
        .fr {
          background: var(--fr)
        }

        &.me,
        .me {
          background: var(--me)
        }

        &.tr,
        .tr {
          background: var(--tr)
        }

        &.ru,
        .ru {
          background: var(--ru)
        }

        &.top,
        .top {
          animation: var(--top)
        }

      }

      &:nth-child(odd) {
        opacity: 0.75;
      }

      &:nth-child(even) {
        opacity: 0.9;
      }
    }

    td,
    th {
      padding: 1rem;

      &:first-child {
        width: 25%;
      }
    }
  }

  .merged {
    padding: 0;

    div {
      display: flex;
      flex-wrap: wrap;
      gap: 2px;

      span {
        flex-grow: 1;
        padding: 1rem;
      }
    }
  }

  .controllers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2px;

    button {
      color: #fff;
      font-family: "Gill Sans", sans-serif;
      flex-grow: 1;
      flex-wrap: wrap;
      padding: 1rem;
      background: #aaa;
      border: 0;
      opacity: 0.8;
      font-weight: bold;
      transition: opacity ease 200ms;

      &:hover,
      &.active {
        opacity: 1;
        cursor: pointer;
      }

      &#all {
        background: #777;
        color: #fff;
      }

      &#amen {
        background: var(--amen)
      }

      &#es {
        background: var(--es)
      }

      &#espt {
        background: var(--espt)
      }

      &#pt {
        background: var(--pt)
      }

      &#euen {
        background: var(--euen)
      }

      &#mush {
        background: var(--mush)
      }

      &#de {
        background: var(--de)
      }

      &#fr {
        background: var(--fr)
      }

      &#me {
        background: var(--me)
      }

      &#tr {
        background: var(--tr)
      }

      &#ru {
        background: var(--ru)
      }

      &#top {
        animation: var(--top)
      }
    }
  }

  .nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #222;
    padding: 1rem 0;
    margin-block-end: 2rem;
    display: flex;
    flex-flow: column;
    gap: 2px;
  }
}

@keyframes color-msg {
  from {
    background-color: rgba(12, 78, 228, 1)
  }

  to {
    background-color: rgba(205, 0, 255, 1)
  }
}