@import url("../../_global/css/main.css");

.workarea {
  --amen: hsl(0deg 55% 40%);
  --es: hsl(30deg 55% 40%);
  --espt: hsl(60deg 55% 40%);
  --pt: hsl(150deg 55% 40%);
  --euen: hsl(190deg 55% 40%);
  --mush: hsl(210deg 55% 40%);
  --de: hsl(230deg 55% 40%);
  --fr: hsl(250deg 55% 40%);
  --me: hsl(270deg 55% 40%);
  --tr: hsl(295deg 55% 40%);
  --ru: hsl(340deg 55% 40%);
  --top: linear-gradient(131deg, rgba(34, 34, 196, 1) 0%, rgba(179, 0, 255, 1) 100%);
  --elite: linear-gradient(131deg, rgb(71 138 212) 0%, rgb(23 55 88) 100%);
  --mention: linear-gradient(131deg, rgb(226, 203, 160) 0%, rgb(155, 112, 73) 100%);

  h2 {
    font-size: 3rem;
    text-align: center;
    margin-block: 5rem 3rem;
  }

  table,
  tbody,
  tr {
    width: 100%;
  }

  .merged-table {

    td,
    th {
      &:first-child {
        width: 25%;
      }
    }
  }

  table {
    border-spacing: 2px .5rem;

    th {
      background: rgb(255 255 255 / 12%);
    }

    tbody {
      tr {
        &:hover {
          opacity: 1;
        }
      }
    }

    tr {
      opacity: 0.8;
      transition: opacity 200ms ease;
      text-align: center;

      td {
        &:first-child {
          font-weight: 700;
          color: #fff;
        }

        color: #eee;
        background-color: hsl(240 6% 17% / 1);

        &.amen,
        .amen {
          background: var(--amen)
        }

        &.es,
        .es {
          background: var(--es)
        }

        &.espt,
        .espt {
          background: var(--espt)
        }

        &.pt,
        .pt {
          background: var(--pt)
        }

        &.euen,
        .euen {
          background: var(--euen)
        }

        &.mush,
        .mush {
          background: var(--mush)
        }

        &.de,
        .de {
          background: var(--de)
        }

        &.fr,
        .fr {
          background: var(--fr)
        }

        &.me,
        .me {
          background: var(--me)
        }

        &.tr,
        .tr {
          background: var(--tr)
        }

        &.ru,
        .ru {
          background: var(--ru)
        }

        &.honor,
        .honor {
          &:not(.top):not(.elite) {
            background: var(--mention)
          }
        }

        &.elite,
        .elite {
          &:not(.top) {
            background: var(--elite)
          }
        }

        &.top,
        .top {
          background: var(--top)
        }
      }

      td,
      th {
        padding: 1rem;
      }

      &:nth-child(odd) {
        opacity: 0.75;
      }

      &:nth-child(even) {
        opacity: 0.9;
      }
    }
  }

  .merged {
    padding: 0;

    div {
      display: flex;
      flex-wrap: wrap;
      gap: 2px;

      span {
        flex-grow: 1;
        padding: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 70px;
      }
    }
  }

  .group {
    mr-users {
      width: 100%;

      >span {
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;
      }
    }

    button {
      background-color: rgb(255 255 255 / 50%);
      color: rgb(0 0 0 / 45%);
      border: 0;
      height: 35px;
      width: 35px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      &:hover {
        cursor: pointer;
        background-color: rgb(255 255 255 / 100%);
        color: rgb(0 0 0 / 55%);
      }
    }

    ul.users {
      display: none;
      flex-wrap: wrap;
      flex-basis: 100%;
      gap: 2px;
      padding: 0;
      list-style: none;
      flex-direction: column;

      &.show {
        display: flex;
      }

      li {
        background: #333;
        padding: 1rem;
        color: #fff;
        font-weight: bold;
        flex-wrap: wrap;
        transition: opacity ease 200ms;
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }


  .controllers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2px;

    button {

      &:hover,
      &.active {
        opacity: 1;
        cursor: pointer;
      }
    }

    div {

      &:hover,
      &.active {
        cursor: not-allowed;
      }
    }

    button,
    div {
      color: #fff;
      font-family: "Gill Sans", sans-serif;
      font-size: 14px;
      flex-grow: 1;
      flex-wrap: wrap;
      padding: 1rem;
      background: #aaa;
      border: 0;
      opacity: 0.8;
      font-weight: bold;
      transition: opacity ease 200ms;
      text-align: center;

      &#all {
        background: #777;
        color: #fff;
      }

      &#amen {
        background: var(--amen)
      }

      &#es {
        background: var(--es)
      }

      &#espt {
        background: var(--espt)
      }

      &#pt {
        background: var(--pt)
      }

      &#euen {
        background: var(--euen)
      }

      &#mush {
        background: var(--mush)
      }

      &#de {
        background: var(--de)
      }

      &#fr {
        background: var(--fr)
      }

      &#me {
        background: var(--me)
      }

      &#tr {
        background: var(--tr)
      }

      &#ru {
        background: var(--ru)
      }

      &#top {
        background: var(--top)
      }

      &#honor {
        background: var(--mention)
      }

      &#elite {
        background: var(--elite)
      }

      &.top,
      .top {
        background: var(--top)
      }
    }
  }

  .nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #222;
    padding: 1rem 0;
    margin-block-end: 2rem;
    display: flex;
    flex-flow: column;
    gap: 2px;
  }
}